<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>班级管理</title>
        <link type="text/css"  rel="stylesheet" href="http://localhost:8080/mytkp/Public/easyui/themes/bootstrap/easyui.css">
		<link type="text/css"  rel="stylesheet" href="http://localhost:8080/mytkp/Public/easyui/themes/icon.css">
		<script type="text/javascript" src="http://localhost:8080/mytkp/Public/easyui/jquery.min.js"></script>
		<script type="text/javascript" src="http://localhost:8080/mytkp/Public/easyui/jquery.easyui.min.js"></script>
		<script type="text/javascript" src="http://localhost:8080/mytkp/Public/easyui/locale/easyui-lang-zh_CN.js"></script>
		<style type="text/css">
        #fortable{
	        width: 60%;
	        margin:auto;
	        margin-top:20px;
        }
        #fortable tr{
            height:40px;	
        }   
        </style>
		<script type="text/javascript">
		$(function(){
			$('#win').window('close');  
			$('#win1').window('close');  
			$('#dg').datagrid({
				striped:true,    
				method:'GET',
			    url:"http://localhost:8080/mytkp/index.php/Home/GLclass/loginClass/pageNo/1/pageSize/10",
			    rownumbers:true,
			    pagination: true,
			    frozenColumns:[[
                   {field:'aaaa',checkbox:true}
				]],   
			    columns:[[    
	                {field:'cid',hidden:true},    
    		        {field:'name',title:'班级名字',width:100,align:'center'},    
    		        {field:'classtype',title:'班级类型',width:100,align:'center'},
    		        {field:'createtime',title:'创建时间',width:100,align:'center',formatter:function(value){
						return value.substr(0,10);
        		    }},
    		        {field:'begintime',title:'开班时间',width:100,align:'center',formatter:function(value){
						return value.substr(0,10);
        		    }},
    		        {field:'endtime',title:'结业时间',width:100,align:'center',formatter:function(value){
						return value.substr(0,10);
        		    }},
    		        {field:'headername',title:'班主任',width:100,align:'center'},
    		        {field:'managename',title:'项目经理',width:100,align:'center'},
    		        {field:'stucount',title:'班级人数',width:100,align:'center'},
    		        {field:'status',title:'状态',width:100,align:'center'},
    		        {field:'remark',title:'备注',width:100,align:'center'}
			    ]],
			    //table内的下拉列表/添加和删除按钮
			    toolbar: '#tb',
				    
			}); 
			var pager = $("#dg").datagrid("getPager");
			pager.pagination({
				pageList:[5,10,20],//设置一页的行数
				//翻页函数
				onSelectPage:function(pageNumber, pageSize){
					refres(pageNumber,pageSize);
				}
			});
		});
		//刷新页面的函数
		function refres(pageNumber,pageSize){
			$("#dg").datagrid('loading');
 			$.getJSON("http://localhost:8080/mytkp/index.php/Home/GLclass/loginClass/pageNo/1/pageSize/10/pageNo/"+pageNumber+"/pageSize/"+pageSize,{
			},function(result){
				$("#dg").datagrid('loadData',{
					rows:result.rows,
					total:result.total
				});
				var pager = $("#dg").datagrid("getPager");
				pager.pagination({
					pageNumber:pageNumber,
					pageSize:pageSize
				});
				$("#dg").datagrid('loaded');
			});
		}
		//按条件搜索函数
		function searchClass(){
			$.post("http://localhost:8080/mytkp/index.php/Home/GLclass/loginClass",{
				'pageNo':1,
				'pageSize':10,
				'className':$("#className").val(),
				'createtime1':$("#createtime1").combo("getValue"),
				'createtime2':$("#createtime2").combo("getValue"),
				'headerName':$("#headerName").val(),
				'begintime1':$("#begintime1").combo("getValue"),
				'begintime2':$("#begintime2").combo("getValue"),
				'manageName':$("#manageName").val(),
				'endtime1':$("#endtime1").combo("getValue"),
				'endtime2':$("#endtime2").combo("getValue"),
				'status':$("#status").combo("getValue"),
			},function(result){
				$("#dg").datagrid('loadData',{
					rows:result.rows,
					total:result.total
				});
			},"json");
		}
		//添加函数
		function addClass(){
			var cid   = $("#cid").val();
			var headerid   = $("#headerid").combo("getValue");
			var managerid   = $("#managerid").combo("getValue");
			var classType   = $("#classType").combo("getValue");
			var createTime   = $("#createTime").combo("getValue");
			var remark   = $("#remark").val();
			$.post('http://localhost:8080/mytkp/index.php/Home/GLclass/saveOrUpClass',{
				"cid"	 				: cid,
				"headerid"	 			: headerid,
				"managerid"	 			: managerid,
				"classType"	 			: classType,
				"createTime"	 		: createTime,
				"remark"	 			: remark
			},function(data){
				if(data == "ok"){
					refres(1,10);
					$('#win').window('close');
				}else if(data == "ok"){
					refres(1,10);
					
					$('#win').window('close');
				}
				  // close a window  
			},"text");
		}
		//添加班级时候打开窗口并且查询班主任 项目经理填到下拉列表
		function unfoldWindow(){
			$('#win').window('open');
			//ajxa回班主任下拉列表
			$('#headerid').combobox({    
			    url:'http://localhost:8080/mytkp/index.php/Home/GLclass/headerid',    
			    valueField:'uid',    
				    textField:'truename',
				    value:-1 
			}); 
			//ajxa回项目经理下拉列表
			$('#managerid').combobox({    
				    url:'http://localhost:8080/mytkp/index.php/Home/GLclass/manageid',    
				    valueField:'uid',    
				    textField:'truename',
				    value:-1
			});
		}
		/*
		至少选择两个班级合并
		所选班级状态必须全部正常
		所选班级不能今天有考试的
		*/
		function combineClass(){
			var selectedRows = $("#dg").datagrid("getSelections");
			if(selectedRows.length < 2){
				alert("至少选择两个班级才可以合并!");
				return;
			}
			var b = true;
			for(var i=0;i<selectedRows.length;i++){
				if(selectedRows[i].status != 1){
					b=false;
					break;
				}
			}
			if(!b){
				alert("对不起，所选班级的状态必须全部正常的！");
				return;
			}
			var cids = new Array();
			var options = new Array();
			options.push({"name":"请指定合并后班级名称","cid":"-1"});
			for(var i=0;i<selectedRows.length;i++){
				cids.push(selectedRows[i].cid);
				options.push({"name":selectedRows[i].name,"cid":selectedRows[i].cid});
			}	
			$.post("http://localhost:8080/mytkp/index.php/Home/GLclass/checkExamToday",{
				'cids':cids.join(",")
			},function(data){
				if(data == "ok"){
					//打开窗口
				    $('#win1').window('open');
					//回填班级名字 的下拉列表
					$("#combinedClassid").combobox({
						valueField:'cid',    
					    textField:'name',
					    data:options,
					    value:-1
					});
					//ajxa回填班主任下拉列表
					$('#combinedHeaderid').combobox({    
					    url:'http://localhost:8080/mytkp/index.php/Home/GLclass/headerid',    
					    valueField:'uid',    
					    textField:'truename',
					    value:-1
					}); 
					//ajxa回项目经理下拉列表
					$('#combinedManagerid').combobox({    
						    url:'http://localhost:8080/mytkp/index.php/Home/GLclass/manageid',    
						    valueField:'uid',    
						    textField:'truename',
						    value:-1
					}); 
				}else{
					alert(data)
				}
			},"text");
		}
		//合并班级函数
		function combineClassQ(){
			var cids = new Array();
			var selectedRows = $("#dg").datagrid("getSelections");
			for(var i=0;i<selectedRows.length;i++){
				cids.push(selectedRows[i].cid);
			}
			$.post('http://localhost:8080/mytkp/index.php/Home/GLclass/combineClass',{
				'cids':cids.join(","),
				'combinedHeaderid':$("#combinedHeaderid").combo("getValue"),
				'combinedManagerid':$("#combinedManagerid").combo("getValue"),
				'combinedClassid':$("#combinedClassid").combo("getValue")
			},function(result){
				$('#win1').window('close');
				alert("班级合并成功！");
				$("#dg").datagrid('loadData',{
					rows:result.rows,
					total:result.total
				})
			},"json");
		}
		</script>
    </head>
    <body>
        <table id="dg"></table>
        <div id="tb">
        	<form action="">
        		<table>
	        		<tr>
	        			<td ><label>班级名称:</label></td>
	        			<td><input type="text"class="easyui-validatebox" type="text" id="className"placeholder="请输入班级名称"></td>
	        			<td><label>创建时间:</label></td>
	        			<td><input class="easyui-datebox" type="text" id="createtime1"  data-options="editable:false"/></td>
	        			<td><label>至</label></td>
	        			<td><input class="easyui-datebox" type="text" id="createtime2" data-options="editable:false"/></td>
	        		</tr>
	        		<tr>
	        			<td><label>班主任:</label></td>
	        			<td><input type="text" class="easyui-validatebox" type="text" id="headerName"placeholder="请输入班主任名字"></td>
	        			<td><label>开班时间:</label></td>
	        			<td><input class="easyui-datebox" type="text" id="begintime1" data-options="editable:false"/></td>
	        			<td><label>至</label></td>
	        			<td><input class="easyui-datebox" type="text" id="begintime2"  data-options="editable:false"/></td>
	        		</tr>
	        		<tr>
	        			<td><label>项目经理:</label></td>
	        			<td><input type="text"class="easyui-validatebox" type="text" id="manageName" name="" placeholder="请输入项目经理名字"></td>
	        			<td><label>结业时间:</label></td>
	        			<td><input class="easyui-datebox" type="text" id="endtime1" data-options="editable:false"/></td>
	        			<td><label>至</label></td>
	        			<td><input class="easyui-datebox" type="text" id="endtime2" data-options="editable:false"/></td>
	        		</tr>
	        		<tr>
	        			<td ><label>状态:</label></td>
	        			<td colspan="2">
        					<select id="status" name="status" style="width:150px;" class="easyui-combobox" data-options="ediable:false">
        						<option value='-1'>选择状态</option>
        						<option value='1'>正常</option>
        						<option value='2'>被合并</option>
        						<option value='3'>结业</option>
        						<option value='4'>废除</option>
        					</select>
        				</td>
	        			<td colspan="3"><a href="javascript:searchClass();"class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">搜索</a></td>
	        		</tr>
        		</table>
        	</form>
        	<form action="">
        		<table>
        			<tr>
						<td><a href="javascript:unfoldWindow();"class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">开班</a></td>
	        			<td><a href="javascript:refreshClass();"class="easyui-linkbutton" data-options="iconCls:'icon-refresh',plain:true">刷新</a></td>        			
        				<td><a href="javascript:combineClass();"class="easyui-linkbutton" data-options="iconCls:'icon-collect',plain:true">合并</a></td>
        			</tr>
        		</table>
        	</form>
        </div>
    	<div id="win" class="easyui-window" title="My Window" style="width:700px;height:600px ;margin-top: ;"   
                data-options="iconCls:'icon-save',modal:true,collapsible:false,minimizable:false,maximizable:false,resizable:false">   
            <form id="ff" method="post"> 
        		<input type="text" id="cid" name="cid"/>
        		<table id="fortable">
        			<tr>
        				<td align="right"><label  for="headerid">选择项目经理：</label></td>
            			<td><input id="headerid" name="headerid"   class="easyui-combobox" data-options="ediable:false"></td>
        			</tr>
        			<tr>
        				<td align="right"><label for=managerid>班主任:</label></td>
        				<td><input id="managerid" name="managerid"  class="easyui-combobox" data-options="ediable:false"></td>
        			</tr>
        			<tr>
        				<td align="right"><label for="classType">班级类型:</label></td>
        				<td>
        					<select id="classType" name="classType" style="width:150px;" class="easyui-combobox" data-options="ediable:false">
        						<option value='-1'>选择班级类型</option>
        						<option value='1'>常规班</option>
        						<option value='2'>快速班</option>
        						<option value='3'>flash班</option>
        						<option value='4'>PHP班</option>
        					</select>
        				</td>
        			</tr>
        			<tr>
        				<td align="right"><label for="createTime">开班时间:</label></td>
        				<td><input class="easyui-datebox" type="text" id="createTime" name="createTime" data-options="ediable:false"  placeholder="请选择生日"/></td>
        			</tr>
        			<tr>
        				<td align="right"><label for="remark">备注:</label></td>
        				<td><input class="easyui-validatebox" type="text" id="remark" name="remark" data-options="" placeholder="请输入账号"/></td>
        			</tr>
        			<tr>
        				<td align="center" colspan="2">
        					<a id="btn" href="javascript:addClass();" class="easyui-linkbutton" data-options="iconCls:'icon-submit'">提交</a>
        				</td>
        			</tr>
        			
        		</table>  
            </form>
        </div>
        <div id="win1" class="easyui-window" title="My Window" style="width:700px;height:600px ;margin-top: ;"   
                data-options="iconCls:'icon-save',modal:true,collapsible:false,minimizable:false,maximizable:false,resizable:false">   
            <form id="ff" method="post"> 
        		<input type="text" id="cid" name="cid"/>
        		<table id="fortable">
        			<tr>
        				<td align="right"><label  for="combinedHeaderid">合并后项目经理：</label></td>
            			<td><input id="combinedHeaderid" name="combinedHeaderid"   class="easyui-combobox" data-options="ediable:false"></td>
        			</tr>
        			<tr>
        				<td align="right"><label for=combinedManagerid>合并后班主任:</label></td>
        				<td><input id="combinedManagerid" name="combinedManagerid"  class="easyui-combobox" data-options="ediable:false" ></td>
        			</tr>
        			<tr>
        				<td align="right"><label for=combinedClassid>合并后班级名字:</label></td>
        				<td><input id="combinedClassid" name="combinedClassid"  class="easyui-combobox" data-options="ediable:false"></td>
        			</tr>
        			<tr>
        				<td align="center" colspan="2">
        					<a id="btn" href="javascript:combineClassQ();" class="easyui-linkbutton" data-options="iconCls:'icon-submit'">提交</a>
        				</td>
        			</tr>
        			
        		</table>  
            </form>
        </div>
    </body>
</html>
